/*!
Theme Name: salpa
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: salpa
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

salpa is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-size: 14px !important;
}
body {
	line-height: 1.7 !important;
	letter-spacing: -0.03em;
	background-color: #f2f2f2 !important;
}
:root {
	--salpa-blue: #2f88ac;
	--salpa-blue-ocean: #38BFC3;
	--salpa-green:  #00bf8c; 
	--salpa-yellow: #ffb822;
	--salpa-violet:  #ad85cc;
	--salpa-red: #e12833;
}
@font-face {
  font-family: Iransans;
  src: url('assets/fonts/IRANSans-Light-web.eot');
  src: url('assets/fonts/IRANSans-Light-web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/IRANSans-Light-web.woff2') format('woff'), url('assets/fonts/IRANSans-Light-web.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: Iransans;
  src: url('assets/fonts/IRANSans-web.eot');
  src: url('assets/fonts/IRANSans-web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/IRANSans-web.woff2') format('woff'), url('assets/fonts/IRANSans-web.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Iransans;
  src: url('assets/fonts/IRANSans-Bold-web.eot');
  src: url('assets/fonts/IRANSans-Bold-web.eot?#iefix') format('embedded-opentype'), url('assets/fonts/IRANSans-Bold-web.woff2') format('woff'), url('assets/fonts/IRANSans-Bold-web.ttf') format('truetype');
  font-weight: bold;
}


body {
  font-family: Iransans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
/* Should remove after updating to bootstrap 4.3*/
.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: rgba(0,0,0,0);
}

.text-salpa-blue {
	color: var(--salpa-blue);
}
.text-salpa-blue-ocean {
	color: var(--salpa-blue-ocean);
}
.text-salpa-green {
	color: var(--salpa-green);
}
.text-salpa-yellow {
	color: var(--salpa-yellow);
}
.text-salpa-violet {
	color: var(--salpa-violet);
}
.text-salpa-red {
	color: var(--salpa-red);
}

.navbar.navbar-light #salpa-navbar .navbar-nav .nav-item .nav-link {
	padding: 0.5rem 1.5rem;
}

.salpa-home-cover {
  height: 100vh;
  z-index: 0;
}

.bg-cover-companies {
  height: 20rem;
  background-image: url('assets/images/companies-page-cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-sp-blue {
	color: var(--salpa-blue-ocean) !important;
}
.bg-sp-blue {
	background-color: var(--salpa-blue) !important;
}
.bg-sp-blue-gradient {
	background: rgb(56,188,193);
	background: -moz-linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	background: linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38bcc1",endColorstr="#2f88ac",GradientType=1);
}
.valid-badge {
	background: no-repeat center center url('assets/images/valid.svg');
	background-size: contain;
	width: 1.35rem;
	height: 1.35rem;
	display: inline-block;
	vertical-align: middle;
}
.text-bold {
	font-weight: bold !important;
}
.segment {
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.salpa-home-cover-video-bg {
  z-index: -1;
  right: 0;
}

.salpa-home-cover-content {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8)
}

.home-companies a.company-item {
	border-width: 3px !important;
}

.home-companies a.company-item.more-button {
	height: auto  !important; 
	padding-top: 95% !important;
}
.home-companies a.company-item.more-button span{
	top: 0;
}
.home-interviews .home-interview-item img{
	max-width: 8rem;
}
.btn-my-experience {
	font-size: 1.6rem !important;
}
.grid-divider>[class*='col-']:nth-child(even):before {
	content: "";
	border-left: 2px dashed #DDD;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -1px;
	height: 100%;
}

.grid-divider>[class*='col-']:nth-last-child(n+3):after {
	content: "";
	border-bottom: 2px dashed #DDD;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -1px;
	width: 100%;
}
.your-interviews {
	background: rgb(56,188,193);
	background: -moz-linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	background: linear-gradient(90deg, rgba(56,188,193,1) 0%, rgba(47,136,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38bcc1",endColorstr="#2f88ac",GradientType=1); 
}
.text-2rem { font-size: 2rem;  }
.text-1-5rem {font-size: 1.5rem; }
.text-1-2rem {font-size: 1.2rem; }
.text-1rem {font-size: 1rem !important;}
.text-0-8rem {font-size: 0.8rem !important;}
.max-width-5rem{
	max-width: 5rem;
}
.max-width-8rem{
	max-width: 8rem;
}
.text-indent-1 {
	text-indent: 1rem;
}

.home-email-subscription {
	border: 2px dashed #ccc;
	padding: 6rem;
}

.dashed-divider>[class*='dashed-divider-item']:nth-last-child(n+2):after {
	content: "";
	border-bottom: 2px dashed #DDD;
	display: block;
	position: relative;
	top: 1.5rem;
	bottom: 0;
	right: 0;
	width: 100%;
}


.min-height-9rem {
	min-height: 9rem;
}
.interview-hardness-rate {
	color: var(--salpa-blue-ocean);
	font-weight: bold;
	font-size: 4rem;
}

.footer-border-bottom {
	border-bottom: 4px solid #ccc;
}
.footer-border-bottom.border-bottom-blue{
	color: var(--salpa-blue);
	border-bottom-color: var(--salpa-blue-ocean);
}
ul.footer-lists {
	margin-right: 0.5rem;
	padding-right: 0;
}
ul.footer-lists li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
ul.footer-lists li a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #111;
	line-height: 2.4rem;
}
ul.footer-lists li a:hover {
	color: var(--red);
}

ul.footer-lists:not(.list-unstyled) li::before,
ul.salpa-red-bulleted-list > li::before
{
	color: #EE3057;  
  content: "\2022"; 
	font-size: 2rem; 
	line-height: 0.5rem;
  padding-right: 0; 
  position: relative;
	top: 0.45rem; 
	margin-left: 0.65rem;
}
.bg-footer {
	background: #f2f2f2
}
.bg-footer-links {
	background-color:#ECECEC;
}
.btn.btn-rounded {
	border-radius: 10rem;
}
.salpa-company-search-bar {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	display: block;
}
.card-header-floated-title {
	position: relative;
	margin-bottom: 3rem;
}
.card-header-floated-title span {
	position: absolute;
	left: -3rem;
	top: -1rem;
	background-color: var(--salpa-blue-ocean);
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
.company-page-name {
	margin-right: 12rem;
}
.company-logo {
	width: 12rem;
	top: -7rem;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.company-page-tabs {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.company-page-tabs ul.nav li.nav-item a.nav-link {
	color: var(--gray);
	border-radius: 0;
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 1rem;
	padding: 1rem;
}
.company-page-tabs ul.nav li.nav-item a.nav-link.active {
	box-shadow: 0px 2px 0px var(--salpa-blue);
	background-color: transparent;
	color: var(--salpa-blue);
}




.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
